@import "tailwindcss";

@theme {
  --color-primary: #246BCE;
  --color-background: #010B13;
  --color-secondary-background: #121212;
  --color-hover: #181818;
}

.blog-post h2{
  color: white !important;
  font-size: 1.5rem !important;
  font-weight: bold;
}